.educationCard {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: linear-gradient(153deg, rgba(9,35,84,1) 0%, rgba(54,100,184,1) 45%, rgba(86,130,213,1) 100%);
}

.headingEducation {
    font-size: 3.5rem;
    color: #22488d;
    font-family: 'Concert One', sans-serif;
}

